/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 sept. 2016, 21:55:52
    Author     : karth solution
*/
.connect{
    margin: 100px  ;
	padding: 0 ;
	/*background: #dea;*/
	background: slategray;
}
.conteneur-con
{
	/*width: 800px ;*/
	margin:  auto ;
        margin-top: 100px;
	
        
}
.conteneur{
    height: 900px;
}
.main-setup{
    margin-top: 20px;
}
.modepaie{
    padding: 3px;
    border-bottom: 1px solid #ccc;
    background-color: aliceblue;
}
.bloc-connexion{
   margin-left: 300px;
  /* background: salmon;*/
}
