/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 sept. 2016, 22:11:36
    Author     : karth solution
*/
.body
{
    margin: 10px  ;
    padding: 0px ;
    margin-top: 52px;
    margin-bottom: 0px;
    font-family: 'Open Sans', 'Trebuchet MS', arial, sans-serif;
    font-size: 13px;
    /*text-align: center ;*/
    /*font: 0.8em "Trebuchet MS", helvetica, sans-serif ;*/
    background: #e5e5e5;
    /* background-image: url(../../public/img/authpict.jpg); #204d74 #0086b3; #888888 #5bc0de*/
}
.nav-color{
    background-color: slategray;
    color: #fff;
}
.nav-color-li a{
    color: #fff;
}
.conteneur
{
    /*width: 800px ;*/
    margin:  auto ;
    padding: 0px;
    /*text-align: left ;*/
    /*border: 2px solid #ab4 ;*/
    background: #fff ;
    /*background: #e5e5e5;*/
    /* height: 500px;*/

}
.logo{
    height: 150px;
    border: solid 1px #0086b3;
    background-color: #fff;
}
.head-bloc{
    /*padding-left: 100px;*/
    height: 150px;
    overflow: hidden;
    /* background-color: #333333;*/
}
.slide-bloc{
    height: 350px;
    /* background-color: #ccc;*/
}
.left_bloc{
    /*border: 1px solid #1b6d85;*/
}
.right_bloc{
    /*border: 1px solid #ccc;*/
}
.cadre_bloc{
    padding: 1px;
}
.marge{
    /* padding:1px; */
    margin-top: 20px;
}
.profil_bloc{
    overflow: hidden;
    height: 180px;
    background-color: #fff;
}
.bar_pub{
    /*background-color: #204d74;*/
    /*background-color: #761c19;*/
    background-color: slategray;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-size:16px;
    font-family: serif;
    font-style: italic;
    border-radius: 5px;
}
.pub_bloc{
    /*height: 280px;*/
    height: auto;
    border: 1px solid #ccc;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.index-pub_bloc{
    /*height: 330px;*/
    height: auto;
    /*border: 1px solid #ccc;*/
}
.service_bloc{   
    height: 250px; 
}
.prestation{
    margin-top: 20px;
    padding: 30px;
    height: 290px;
    /*background-color: ;*/
    border: 1px solid #ccc;
    border-radius: 185px ;
    overflow: hidden
}
.footer-bloc{
    width: auto;
    margin-top: 20px;
    padding: 10px;
    margin: 0px;
    height: auto;
    background-color: #222;
    color: #fff;
}
.info{
    margin: 3px;
}
/*
* code css de profile.php
*/
.profile{
    margin-top:2px;
    height: 250px;
    background-color: #fff;
    overflow: hidden;
}
/*
* code prestation.php
*/
.presta-1{
    margin: 20px;
}
.presta-1-icon{
    height: 100px;
    padding-top: 25px; 
    background-color: #fff;
    border: 1px solid #1b6d85;
    overflow: hidden;
}
.presta-1-description{
    height: 100px;
    padding: 35px;
    /*background-color: #ccc;*/
    color: yellowgreen;
    font-family:  inherit;
    /*font-style: bold;*/
}
.blog-site{
    height: 380px;
    /*background-color: #ccc;*/
    /*margin: 10px;*/
}
.comment-profile{
    padding: 15px;
}
.comment-bloc{
    padding-left: 60px;
    /*background-color: #e5e5e5;*/
    background-color: #e5e5e5;
}
.comment-input{
    padding: 30px;
}
.user-zone{
    padding: 10px;
}
.contact{
    padding: 30px;
}
.info-foo{
    float: right;
    text-align: left;
    color:#888888;
    font-size: 12px;
}
strong{
    color: #761c19;
}

p {
    line-height: 1.7em;
}